* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
blockquote {
    margin: 0 auto;
}
body {
	margin: 0;
	color: #212121;
	font: 400 14px/1 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}
a {
	color: inherit;
    text-decoration: none;
}
a:hover, a:active {
	text-decoration: none;
}
ul {
	list-style: none;
	padding: 0;
    margin: 0;
    display: inline-block;
}
img {
	max-width: 100%;
}
/* end reset */ 
@font-face {
    font-family: 'et';
    src:  url('../fonts/17655.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Dosis';
    src:  url('../fonts/Dosis-VariableFont:wght.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans';
    src:  url('../fonts/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.ttf');
    src:  url('../fonts/icomoon.woff') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot');
    src:  url('fonts/icomoon.eot'),
      url('fonts/icomoon.ttf'),
      url('fonts/icomoon.woff'),
      url('fonts/icomoon.svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak-as: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
 
.d-flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content  {
    justify-content: flex-end;
}
.justify-content-centre {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.flex-wrap {
    flex-wrap: wrap;
}
.align-center {
    text-align: center;
}
/*header */
.wrapper {
    overflow: hidden;
}
#header {
    background-image: url('../img/HEADER.png');
    height: 100vh;
    background-repeat: repeat;
    background-size: cover;
    position: relative;
}
.list {
    padding-top: 30px;
}
.logo {
    padding-left: 30px;
}
.header-nav li {
    font-size: 11px;
    letter-spacing: 3px;
    color: #ffffff;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding-right: 47px;
}
.header-nav a:hover {
    color: aqua;
}
.contents {
    text-align: center;
    flex-direction: column;
    height: 100%;
}
h1{
    font-size: 30px;
    letter-spacing: 51px;
    color: #fefefe;
    font-family: "Dosis", Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.contents span {
    font-size: 19px;
    color: #fefefe;
    font-family: "Open Sans",Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-align: center;
    padding-top: 100px;
    font-size: 19px;
}
.arrow-img {
    position: absolute;
    bottom: 30px; 
    right: 50%;
    line-height: 1px
}




.text-centr {
    text-align: center;
}
.text-upparcase {
    text-transform: uppercase;
}
.courses-item .courses-title {
    padding-top: 30px;
    padding-bottom: 15px;
}
.courses-item  {
    color: #777777;
}         
.font  {
    font-size: 15px;
    letter-spacing: 6px;
    font-family: "Dosis", Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.font-s {
    font-size: 12px;
    letter-spacing: 5px;
    font-family: "Dosis", Arial, Helvetica, sans-serif;
    font-weight: 400;
}


.info {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.icon {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.icon span {
    font-size: 14px;
    letter-spacing: 6px;
    color: #111111;
    font-family: "Dosis";
    font-weight: 400;
    text-align: center;
    padding-top: 37px;
}

.container {
    max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}


.row {
    display: flex;
    margin: 0 -20px;
    flex-wrap: wrap;
}
.col-tab img {
    width: 100%;
}
.row-xs {
    margin: 0 -5px;
}
.standart-section-col {
    padding: 80px 0;
}
.standart-section-icon {
    padding-top: 280px 0;
}
.standart-section {
    padding: 140px 0;
}
.enter-email {
    font-size: 18px;
    letter-spacing: 5px;
    line-height: 26px;
    color: #ffffff;
    font-family: "Dosis";
    font-weight: 300;
    text-align: center;
    padding-top: 65px;
}

.help {
    font-size: 18px;
    letter-spacing: 5px;
    line-height: 26px;
    color: #ffffff;
    font-family: "Dosis";
    font-weight: 300;
    text-align: center;
  
}
.help-center {
    font-size: 16px;
    letter-spacing: 5px;
    line-height: 26px;
    color: #111111;
    font-family: "Dosis";
    font-weight: 300;
    text-align: center;
}
.icon-contact  {
    font-size: 12px;
    letter-spacing: 4px;
    color: #777777;
    font-family: "Dosis";
    font-weight: 400;
}  
.from-group-center {
    justify-content: center;
    display: flex; 
}
.form-control-centr {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}





.col-4 {
    width: 33.3333%;
    padding: 0 20px;
}
.section-title h3 {
    font-size: 18px;
    letter-spacing: 9px;
    color: #111111;
    font-family: "Dosis",Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 121px;
}
.standart-section-col {
    padding: 80px 0;
}
.section-title {
    margin-bottom: 80px;
}
.standart-section {
    padding: 140px 0;
}
.info {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.icon {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.icon span {
    font-size: 14px;
    letter-spacing: 6px;
    color: #111111;
    font-family: "Dosis";
    font-weight: 400;
    text-align: center;
    padding-top: 37px;
}

ul {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.input-bar {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.standart-section-col {
    background-color: #f8f8f8;
    padding: 80px 0;
}
.input-bar {
    color: #111;
    font-family: "Dosis", sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 3px;
    margin-bottom: 23px;
}
.form-control-col  {
    padding: 14px;
    margin-bottom: 10px;
    outline: none;
    max-width: 290px;
    width: 100%;
    color: #777;
}
.card-wrapp {
   position: relative;
   overflow: hidden;
}
.card-wrapp:hover .card-overlay {
    transform: translateY(0)
}
.card-overlay {
    background-image: url('../img/team-3.jpg');
    padding: 36px;
    color: #fff;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-100%);
    transition: transform .3s;
   
}
.card-overlay-title {
    font-size: 20px;
    margin-bottom: 34px;

}
.card-overlay-description {
    font-size: 13px;
    margin-bottom: 44px;
}
.card-skills label {
    font-size: 11px;
    margin-bottom: 7px;
    text-transform: uppercase;
}
.card-skills li:not(:last-of-type) {
    margin-bottom: 12px;
   
}
.card-skills .radting {
    height: 12px;
    background-color: #363636;
}
.card-overlay ul {
    display: block;
}
.card-skills .radting span {
    height: 100%;
    display: inline-block;
    background-color: #cdcdcd;
}
/* stay */


  [class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak-as: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
 }

/* section about */
.about {
    padding: 140px 0;
    border-bottom: 1px solid #ececec;
}
.about-title {
    font-size: 18px;
    font-family: "Dosis", sans-serif;
    color: #111111;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 400;
    margin-bottom: 70px;
}
 blockquote {
    margin-bottom: 15px;
    width: 371px;
    height: 174px;
    font-size: 24px;
    line-height: 38px;
    color: #777777;
    font-family: "Open Sans";
    font-weight: 300;
}

.about-author {
    letter-spacing: 2px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 38px;
    font-size: 11px;
    color: #777777;
    font-family: "Open Sans";
    padding-top: 35px;
    
}

.about-text {
    width: 371px;
    height: 335px;
    font-size: 15px;
    line-height: 26px;
    color: #777777;
    font-family: "Open Sans";
    font-weight: 300;
}

/* end about */

/* service */
.service {
    padding-top: 140px;
}
.section-title h3 {
    font-size: 18px;
    letter-spacing: 9px;
    color: #111111;
    font-family: "Dosis",Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 121px;
}
.icon {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.col-4 p {
    width: 371px;
    height: 335px;
    font-size: 15px;
    line-height: 26px;
    color: #777777;
    font-family: "Open Sans";
    font-weight: 300;
}
.tabs-wrapper li  {
    text-align: center;
    margin-bottom: 100px;
    padding-left: 20px;
    display: inline-block;
    opacity: .5;
    text-transform: uppercase;
    cursor: pointer;
}
/* end service */
/* baner */
.baner {
    background-color: #111;
    width: 100%;
}

.col-6 {
    width: 50%;
    float: left;
    padding: 0px 20px;
}
.baner-content {
    padding: 140px 0;
}
.baner-title {
    text-transform: uppercase;
    margin-bottom: 26px;
    font-size: 18px;
    letter-spacing: 5px;
    line-height: 26px;
    color: #ffffff;
    font-family: "Dosis";
    font-weight: 300;
}
.baner-text {
    margin-bottom: 40px;
    color: #fff;
    font-size: 15px;
    line-height: 26px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 300;
}
.baner img {
    margin-top: -32px;
    width: 100%;
    max-width: 530px;
    height: auto;
    float: right;
}

.baner-btn a {
    padding: 15px 40px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "OpenSans", sans-serif;
    line-height: 26px;
    background-color: #cfcfcf;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 3px;
    color: #111111;
}
/* end baner */

/* portfolio */
.portfolio {
    padding-top: 140px;
}
.section-title h2 {
    font-size: 18px;
    letter-spacing: 9px;
    font-family: "Dosis", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #111111;
}
.section-title {
    margin-bottom: 80px;
}
.about-us-text {
    margin: 0 auto;
   max-width: 770px;
    height: 95px;
    font-size: 15px;
    line-height: 26px;
    color: #777777;
    font-family: "Open Sans";
    font-weight: 300;
    text-align: center;
    padding: 80px 0 80px 0;
}
h2 {
    font-size: 18px;
    letter-spacing: 9px;
    color: #111111;
    font-family: "Dosis";
    font-weight: 400;
    text-align: center;
}
.col-tab {
    width: 33.3333%;
    padding: 50px 7px 0 0;
    display: inline-block;
}
.bloc1 {
    filter: url(filters.svg#grayscale);
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .5s ease-in-out;
  }
  .bloc1:not(:first-child) {
    margin-top: 7px;
  }
.bloc1:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.1);
    position: relative;
    z-index: 1;
  }
.row-tab {
    display: flex;
    flex-wrap: wrap;
}
.container-tab {
    margin: 0 auto; 
    padding: 0;
}
 
#tabs2 li {
    font-size: 13px;
    letter-spacing: 5px;
    color: #111111;
    font-family: "Dosis";
    font-weight: 400;
}
#tabs2  ul {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}
/*end portfolio */

/* creative-work */
.creative-work {
    background-color: #111111;
}
.creative-work-container {
    margin: 0 auto;
    padding: 70px 0;
    text-align: center;
}
.creative-work-text {
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3px;
    font-family: "Dosis", sans-serif;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 26px;
}
/* end work */

/* beneffi */
.benefits {
    font-family: "Dosis", sans-serif;
    padding-top: 125px;
    padding-bottom: 135px;
}
.benefits-title {
    text-align: center;
    font-size: 18px;
    color: #111111;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 400;
}
.block {
    padding-top: 80px;
}
.benefits-img {
    text-align: center;
    font-size: 50px;
}
.benefits-block-title {
    text-align: center;
    color: #111111;
    text-transform: uppercase;
    line-height: 80px;
    letter-spacing: 4px;
    font-size: 14px;
    font-weight: 400;
}
.benefits-block-text {
    width: 371px; 
    height: 141px; 
    font-size: 14px;
    line-height: 26px;
    color: #777777;
    font-family: "Open Sans";
    font-weight: 300;
}
/* end beneff */


/* slick */
.wrapper-slider {
    background-color: #020202;
    text-align: center;
    margin-top: 140px;
}
.single-item .slick-prev {
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 0;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    margin-left: -25px;
    z-index: 1;
}
.author {
    margin: 0;
    position: relative;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 300;
    text-align: center;
    }
.qoute {
    padding: 25px 0 50px 0;
    color: #fff;
} 
.qoute-title:after {
    content: "\201D";
    top: 30px;
}
.qoute-deskription {
    text-align: center;
    max-width: 730px;
    padding-bottom: 145px;
    padding-top: 194px;
   
}         
.slick-slide {
    width: 100vw;
} 
.qoute-title:after {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
    font-size: 32px;
    line-height: 50px;
    color: #ffffff;
    font-family: "et";
    text-align: center;
    top: 140px;
    bottom: 25px;
}
h3 {
    padding-top: 25px;
    font-size: 11px;
    letter-spacing: 2px;
    line-height: 38px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 400;
    text-align: center;
}
.qoute-deskription {
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 300;
    text-align: center;
}
.slider-items {
    width: 100%;
    display: inline-block;
}
.slider-title {
    padding-top: 53px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-style: 18px;
    color: #fff;
    letter-spacing: 3px;
    font-family: "Dosis", sans-serif;
    margin-bottom: 40px;
    font-weight: 400;
    position: relative;
}

.slider-text {
    font-size: 18px;
    opacity: .75;
    margin-bottom: 20px;
    line-height: 30px;
}
.slider-author {
    text-transform: uppercase;
    opacity: .3;
    letter-spacing: 2px;
    font-size: 11px;
    line-height: 38px;
    font-weight: 400;
}
.single-item .slick-next{
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 0;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    margin-right: -25px;
    z-index: 0;
}

/* end slick */

/* news */
.news {
    padding: 140px 0;
}
.news-title {
    font-size: 18px;
    font-family: "Dosis", sans-serif;
    color: #111111;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 80px;
    letter-spacing: 9px;
    display: inline-block;
}
.new-title-left {
    font-size: 11px;
    font-family: "Dosis", sans-serif;
    color: #999999;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
    margin-bottom: 80px;
    float: right;
    display: inline-block;

}
.news-wrapper {
    cursor: pointer;
    transition: .5s;
    padding: 3px;
    border-radius: 3px;
}
.news img {
    width: 100%;
    max-width: 370px;
    margin-bottom: 30px;
}
.news-content-title {
    font-size: 15px;
    letter-spacing: 3px;
    color: #777777;
    font-family: "Dosis";
    font-weight: 400;
    font-family: "Dosis", sans-serif;
    text-transform: uppercase;
}
.news-content-title span {
    font-size: 11px;
    letter-spacing: 4px;
    color: #999;
    display: inline-block;
    margin-bottom: 25px;
    margin-top: 15px;
    font-family: "Dosis";
    font-weight: 400;
}
.new-content-text {
    font-family: "Open Sans", sans-serif;
  
    font-size: 15px;
    line-height: 26px;
    color: #777777;
    font-weight: 300;
    margin-bottom: 26px;
}
.news-content-btn {
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 25px 10px 15px;
    background: #e5e5e5;
    cursor: pointer;
    color: #777;
    position: relative;
    font-size: 11px;
    letter-spacing: 2px;
    line-height: 26px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.news-content-btn:after {
    content: ">";
    display: inline-block;
    position: absolute;
    transform: rotate(0deg);
    top: 11px;
    right: 9px;
}
/* end news */

/* newsletter */
.newsletter {
    background-color: #f8f8f8;
    padding: 80px 0;
}

.newsletter-content {
    text-align: center;
}
.newsletter-title {
    color: #111;
    font-family: "Dosis", sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 3px;
    margin-bottom: 23px;
}
.newsletter-content input {
    padding: 14px;
    margin-bottom: 10px;
    outline: none;
    max-width: 290px;
    width: 100%;
    color: #777;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
.newsletter-content .btn.btn-primary  {
    background: #313131;
    border: none;
    cursor: pointer;
    padding: 7px 20px;
    color: white;
    width: 130px;
    border-radius: 2px;
    margin-left: 3px;
    transition: .5s;
}
/* end mewsletter */

/* contact */
.contact {
    padding: 130px 0 140px 0;
}

.contact-title {
    font-size: 18px;
    text-align: center;
    font-family: "Dosis", sans-serif;
    color: #111111;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 400;
    margin-bottom: 70px;
}
.contact-wrapper {
    width: 100%;
    max-width: 770px;
    margin: 0 auto;
}
.contact-info {
    margin-bottom: 75px;
}
.contact-info-item {
    width: 33.333%;
    display: block;
    float: left;
    position: relative;
}
.info-item {
    padding-left: 45px;
    display: block;
    position: relative;
}
.info-item:before {
    content: "";
    top: 5px;
    left: 4px;
    height: 23px;
    width: 23px;
    background-color: #111;
    transform: rotate(45deg);
    border-radius: 1px;
    position: absolute;
}
.info-item span {
    display: block;
}
.info-item:after {
    font-family: "icomoon";
    content: "\e942";
    color: #fff;
    position: absolute;
    left: 10px;
    top: 9px;
    font-size: 14px;
}
.contact-info-item:nth-child(2) .info-item:after {
    content: "\e948";
    font-family: "icomoon";
    color: #fff;
    position: absolute;
    left: 9px;
    top: 9px;
    font-size: 14px;
}
.contact-info-item:nth-child(3) .info-item:after {
    content: "\ea84";
    font-family: "icomoon";
    color: #fff;
    position: absolute;
    left: 9px;
    top: 9px;
    font-size: 14px;
}
/* end contact */

/* .standart-section-contact */
.standart-section-contact {
    padding-bottom: 140px;
}
.container-xs {
    width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}
.col-6-xs {
    width: 50%;
    padding: 0 5px;
}
.from-group .form-control:first-child {
    margin-bottom: 10px;
}
.from-group textarea {
    height: 100%;
}
input, textarea {
    border: 1px colid #000;
    padding: 0 13px;
    display: inline-block;
    border-radius: 2px;
    line-height: 34px;
    background-color: #fff;
    width: 100%;
}
input::placeholder {
    color: #777;
}
textarea::placeholder {
    color: #777;
} 
.form-action {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.form-action-blac {
    margin-top: 25px;
}
/* end section */

/* section map */
.section-map {
    position: relative;
}
.section-bg {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition: 3s, opaciti 5s;
    opacity: 1;
}
.section-bg.open {
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
}
.section-inner {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
}
.icon-rotate {
    width: 36px;
    height: 36px;
    transform: rotate(45deg);
    border-radius: 2px;
    transform-origin: center;
    margin: 0 auto;
    color: #222222;
    text-align: center;
   
}
.icon-location {
    transform: rotate(-45deg);
    display: inline-block;
    font-size: 14px;
    font-family: "Font Awesome";
    padding: 11px 9px 10px 7px;
}
.icon-location:before {
    content: "\e947";
}
.icon-rotate.light {
    background-color: #fff;
}
.section-map .icon-rotate.light {
    margin-bottom: 26px;
    
}
/* end map */

/* footer */
.icon-facebook {
    transform: rotate(-45deg);
    display: inline-block;
    font-size: 14px;
    font-family: "Font Awesome";
    padding: 10px;
}
.icon-facebook:before {
    content: "\ea90";
  }
.icon-twitter{
    transform: rotate(-45deg);
    display: inline-block;
    font-size: 14px;
    font-family: "Font Awesome";
    padding: 11px 9px 10px 7px; 
}
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-behance2 {
    transform: rotate(-45deg);
    display: inline-block;
    font-size: 14px;
    font-family: "Font Awesome";
    padding: 10px; 
  }
  .icon-behance2:before {
    content: "\eaa9";
  }
  .icon-linkedin {
    transform: rotate(-45deg);
    display: inline-block;
    font-size: 14px;
    font-family: "Font Awesome";
    padding: 10px;
  }
  .icon-linkedin:before {
    content: "\eac9";
  }
  .icon-pinterest {
    transform: rotate(-45deg);
    display: inline-block;
    font-size: 14px;
    font-family: "Font Awesome";
    padding: 10px;
  }
  .icon-pinterest:before {
    content: "\ead1";
  }
.border {
    border: 2px solid #646464;
    display: inline-block;
    margin-left: 12px;
    width: 25px;
    height: 25px;
}
.foot {
    margin-top: 25px;
    margin-bottom: 130px;
}
.footer-info {
    color: #777;
    font-size: 11px;
}
.footer-info span {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 6px;
    line-height: 24px;
    color: #111111;
    font-family: "Dosis";
    font-weight: 400;
    text-align: center;
}
footer {
    text-align: center;
    position: relative;
    padding-top: 200px;
    padding-bottom: 60px;
    color: #f8f8f8;
}
footer .link-up a {
    cursor: pointer;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom: 15px solid #777;
    position: absolute;
    right: 30px;
    bottom: 35px;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    font-weight: 400;
    text-align: center;
}
/* end footer */
/*btn */
.btn {
    display: inline-block;
    color: #111111;
    letter-spacing: 2px;
    padding: 0 40px;
    line-height: 38px;
    text-transform:uppercase;
    border-color: transparent;
    cursor: pointer;
    border-radius: 2px;
}
.btn.btn-default {
    background-color: #cfcfcf;
    color: #373737

}
.btn.btn-default:hover {
    background-color:#cfcfcf;
    color: #313131;
    border-color: #cfcfcf;
}
.btn.btn-primary {
    line-height: 34px;
    color: #fff;
    background-color: #323232;
    font-size: 13px;

}
.btn.btn-primary:hover {
    background-color: transparent;
    color: #323232;
    border-color: #323232;
}
/*btn end */
.col {
    padding: 0 15px;
}








/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 980px)   {
    .col-sm-4 {
        width: 33.33%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-12 {
        width: 100%;
    }
}

/* Large devices (desktops, 992px and up) */
@media  screen and(min-width: 992px) and(max-width:1150px)
 {
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media  screen (min-width: 1200px) {
   .col-lg-12 {
       width: 100%
   }
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-3 {
        width: 25%;
    }
    
@media (max-width: 768px){
    .news-wrapper {
        padding: 0 100px;
        margin-top: 20px;
    }
}
    
        

